[Bb]in/
[Oo]bj/

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
*.trx

project.lock.json
project.fragment.lock.json
artifacts/

.DS_Store
Thumbs.db
$RECYCLE.BIN/

appsettings.Development.json
appsettings.Local.json
.env

*.dmp

# Rider / JetBrains
.idea/
*.sln.iml